<div class='table-container'>
  <table class='table table-sm table-hover border'>
    <thead>
      <tr>
        <th scope='col'>Name</th>
        <th scope='col'>Genre</th>
        <th scope='col'>Description</th>
        <% if @role != :guest %>
          <th class="text-right" scope='col'></th>
        <% end %>
      </tr>
    </thead>
    <% @games.each do |game| %>
      <tr>
        <td><a href='/game/<%= game.id %>'><%= game.name %></a></td>
        <td><%= game.genre %></td>
        <td><%= game.description %></td>
        <% if @role != :guest %>    
          <td class="text-right text-nowrap" scope='col'>
            <% if @user_games[game.id] %>
              <a href="/library/<%=game.id%>/remove">Remove from Library</a>
            <% else %>
              <a href="/library/<%=game.id%>/add">Add to Library</a>  
            <% end %>
            <% if @role == 'moderator' || @role == 'admin' || game.creator.id == session[:id] %>
              | <a href="/game/<%=game.id%>/edit">edit</a> | <a href="/game/<%=game.id%>/delete">remove</a>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<% if @role != :guest %>
  <div class='text-center'>
    <a href='/games/new'>click here to add more games</a>
  </div>
<% end %>