<div class='table-container'>
  <table class='table table-sm table-hover border'>
    <thead>
      <tr>
        <th scope='col'>Name</th>
        <th scope='col'>Genre</th>
        <th scope='col'>Description</th>
        <th scope='col'>In Library?</th>
        <% if @user.role != 'guest' %>
          <th class="text-right" scope='col'>edit/remove</th>
        <% end %>
      </tr>
    </thead>
    <%for game in @games%>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.genre %></td>
        <td><%= game.description %></td>
        <% if @user_games[game.id] %>
          <td class="text-nowrap">In Library</td>
        <% else%>
          <td class="text-nowrap">Add to Library</td>
        <%end%>
      <% if @user.role != 'guest' %>
        <td class="text-right text-nowrap" scope='col'>
          <a href="/game/<%=game.id%>/edit">edit</a> | <a href="/game/<%=game.id%>/delete">remove</a>
        </td>
      <% end %>
      </tr>
    <% end %>
  </table>
</div>
<div class='text-center'>
  <a href='/games/new'>click here to add more games</a>
</div>