<%if @games && !@games.empty?%>
  <div class='table-container'>
    <table class='table table-sm table-hover centered border'>
      <thead>
        <tr>
          <th scope='col'>Name</th>
          <th scope='col'>Genre</th>
          <th scope='col'>Description</th>
          <th scope='col' class="text-right" ></th>
        </tr>
      </thead>
      <%for game in @games %>
        <tr>
          <td><a href='/game/<%= game.id %>'><%= game.name %></a></td>
          <td><%= game.genre %></td>
          <td><%= game.description %></td>
          <td class="text-right text-nowrap" scope='col'>
            <a href="/library/<%=game.id%>/remove?location=library">remove from library</a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<%else%>
  <div class='user-container'>
    <div class='register centered'>
      <h2 class='test'>
        No games found
      </h2>

      <% if session[:email] %>

      </p>
        <a href='/games'>To add games click here</a>
      </p>

      <% else %>

        </p>Login to view your library and add games</p>

      <% end%>
    </div>
  </div>
<%end%>